<a href="https://colab.research.google.com/github/jaweria01/Python_Volunteer_Course/blob/main/Session4_(Strings).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OPERATORS

**Literals**

Literals are constant values directly used in code.

Numeric literals → 10, 3.14, 0b101 (binary)

String literals → 'hello', "world"

Boolean literals → True, False

Special literal → None

In [ ]:
a = 10,
print(type(a))

<class 'tuple'>

In [ ]:
# Examples of literals
a = 10        # integer literal
b = 3.14      # float literal
c = "Python"  # string literal
d = True      # boolean literal
e = None      # special literal
print(a)

10

**Arithmetic** Operators

Used for basic math.

Operator	Meaning	Example (a=10, b=3)


+	Addition	a + b → 13

-	Subtraction	a - b → 7

*	Multiplication	a * b → 30

  /	Division (float)	a / b → 3.33

  //	Floor division	a // b → 3

  %	Modulus (remainder)	a % b → 1

  **	Exponentiation	a ** b → 1000 #square root # power

In [ ]:
a=3
b=9
#print(a+b)
#print(a-b)
#print(a*b)
print(a/b)
print(a//b)
#print(a%b)
#print(a**b)

0.3333333333333333
0

**Assignment Operators**

Operator	Example
=, 	x = 5	Assign 5

+=,

-=,

*=,

/=,

//=,

%=,

**=

In [ ]:
a = 10
#a += 4
#a -= 3
#a = a+4
#a *= 3
#a /= 3
#a //= 3
#a %= 3
a **= 3
print(a)

1000

**COMPARISION OPERATORS**

In [ ]:
# ==  isequal
# != not equal
# > greater than
# < less than
# >= greater than or equal
# <= less than or equal
a = 13
b = 14
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
#print(type(a>=b))
print(a<=b)

False
True
False
True
False
True

**LOGICAL OPERATORS**

and, if both true

or, if one true

not, inverse(convert true into false and false into true)

In [ ]:
a=12
b=14
print(not(a>b))

True

**Operator Precedence**

Determines the order of execution.
Higher precedence ops are executed first.

Order (high → low):

() → Parentheses

** → Exponentiation

*, /, //, % → Multiplication, division

+, - → Addition, subtraction

<, >, <=, >= → Comparisons

==, != → Equality

and

or

= → Assignment

In [ ]:
#a = 10 +2 *3
a=9*2+3
print(a)
#a = 4
#b = 5
#print(a**b)
#print(a*b)
#print(a/b)
#print(a//b)
#print(a%b)
#print(a+b)
#print(a-b)

21

# STRINGS

**1. Creating & Accessing Strings**

Strings can be created with single ('), double (") or triple quotes (''' or """).

Accessing by index

**2. Adding / Editing / Deleting Strings**

Strings are immutable → cannot change characters directly.

But you can create new strings.

In [ ]:
# Adding (Concatenation)
# Editing → need to create new string
# Deleting

**3. Indexing**

**4. Slicing**

**5. String Operators**

Operator	Example	Result

+	"Hi" + "There"	"HiThere"

*	"Hi" * 3	"HiHiHi"

in	"a" in "cat"	True

not in	"z" not in "cat"	True

**6. String Methods**

Some commonly used string methods:

.upper()  

.lower()

.title()

.strip()     # removes spaces from ends

.replace("", "")

.split()

".".join(["","",""])

.find("")  (index where substring found)

.count("")

**7. String Functions (Built-ins)**

len()      # Length

max()    # Character with max ASCII → 'r'

min()      # Character with min ASCII → 'H'

sorted()  # Returns sorted list of characters

str(123)    # Convert number to string → '123'

**ASCII-TABLE**

*65-90_A-Z*

*97-122_a-z*

**8. String Formatting**

(a) f-Strings (Python 3.6+)

(b) format() method # .format()

(c) Percent % formatting #(" %a,  %.2f" % (,))