<a href="https://colab.research.google.com/github/jaweria01/Python_Volunteer_Course/blob/main/Session13_Comprehensions_%26MiniProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Comprehensions**
List comprehensions

Dictionary comprehensions

Set comprehensions

Conditional comprehensions

## **What is a List Comprehension?**

List comprehension is a short and readable way to create new lists from existing ones in one line of code.

It replaces loops

In [ ]:
#Traditional ways
numbers = [1, 2, 3, 4, 5]
squares = []
for n in numbers:
    squares.append(n * n)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
squares = [n * n for n in [1, 2, 3, 4, 5]]
print(squares)

[1, 4, 9, 16, 25]

#Basic Syntax:

`[expression for item in iterable]`


✅ expression → what to do with each item
✅ item → variable representing each element
✅ iterable → list, tuple, range, etc.

In [ ]:
#Square numbers

squares = [x**2 for x in range(5)]
# Output: [0, 1, 4, 9, 16]

In [ ]:
#3Convert strings to uppercase

names = ["ali", "sara", "fatima"]
upper_names = [name.upper() for name in names]
print(upper_names)

['ALI', 'SARA', 'FATIMA']

In [ ]:
#Filter even numbers

even_nums = [n for n in range(10) if n % 2 == 0]
print(even_nums)

[0, 2, 4, 6, 8]

In [ ]:
#Add condition with operation

squares_of_even = [n**2 for n in range(10) if n % 2 == 0]

In [ ]:
#Nested loops (2D lists)

pairs = [(x, y) for x in [1, 2] for y in [3, 4]]
print(pairs)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
#Equivalent Form
result = []
for item in iterable:
    if condition:
        result.append(expression)


#is the same as 👇

result = [expression for item in iterable if condition]

##Why We Use List Comprehensions (and not regular loops every time)

 1. Cleaner & more readable code	List comprehensions turn multiple lines into one clear expression.

 Instead of:



```
 squares = []
  for n in range(10):
   squares.append(n**2)
```






We just write:squares

 `[n**2 for n in range(10)]`

⚡ 2. Faster execution	They are optimized internally in Python and run faster than manual loops.	For large lists, comprehensions often execute 20–30% faster.


✍️ 3. More expressive / declarative	You describe what you want, not how to build it step by step.

	[n for n in range(10) if n % 2 == 0]
   clearly says “give me even numbers.”


🔄 4. Compact filtering & mapping	You can easily transform (map) and filter (condition) data in the same line.

	[n**2 for n in range(10) if n%2==0]
  
   (square only even numbers)


🧱 5. Great for quick data creation	Ideal when you just need to build or modify a list temporarily.	Making test data, numbers, or short string lists.


🚫 Why Not Always Use Loops?

You can still use loops — and sometimes you should.

Loops are better when:

You need multiple complex steps (not just one expression).

You are doing I/O operations (reading files, printing, etc.).

You need to update variables or handle exceptions.

The comprehension becomes too long or unreadable.

Example — ❌ not recommended as comprehension:

# Hard to read
```
[x**2 if x > 5 else x+1 for x in range(20) if x != 10]
```

✅ Better with loop:
```
result = []

for x in range(20):

    if x != 10:
  
        if x > 5:
            result.append(x**2)
        else:
            result.append(x+1)

# Dictionary Comprehensions


Used to create a dictionary (key–value pairs) in one line — just like list comprehensions create lists.

Syntax:

`{key_expression: value_expression for item in iterable}`

In [ ]:


#Squares of numbers
squares = {x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:

# Convert keys to uppercase
fruits = {"apple": 2, "banana": 3, "cherry": 5}
upper_fruits = {k.upper(): v for k, v in fruits.items()}
print(upper_fruits)

{'APPLE': 2, 'BANANA': 3, 'CHERRY': 5}

In [ ]:
# Filter values
prices = {"apple": 50, "banana": 20, "mango": 80}
expensive = {k: v for k, v in prices.items() if v > 40}
print(expensive)

{'apple': 50, 'mango': 80}

#Set Comprehensions


Creates a set (unique elements, unordered) in one line.

In [ ]:


#expression for item in iterable}

# Squares of numbers

squares = {x**2 for x in [1, 2, 3, 2, 1]}
print(squares)
# Notice duplicates are automatically removed.

{1, 4, 9}

In [ ]:
#Extract unique letters
letters = {ch for ch in "hello"}
print(letters)
# Output: {'h', 'e', 'l', 'o'}

{'e', 'o', 'l', 'h'}

# Conditional Comprehensions


Used inside list, dict, or set comprehensions to add conditions (like filtering or deciding value).

In [ ]:

# List Comprehension with if

even_nums = [x for x in range(10) if x % 2 == 0]

In [ ]:
# Conditional Expression (if...else)

result = ["even" if x % 2 == 0 else "odd" for x in range(5)]
print(result)



# Here, we’re deciding what to put in the list — not filtering.

['even', 'odd', 'even', 'odd', 'even']

In [ ]:

# Conditional Dictionary Comprehension
status = {x: ("even" if x % 2 == 0 else "odd") for x in range(5)}
print(status)
# Output: {0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even'}

{0: 'even', 1: 'odd', 2: 'even', 3: 'odd', 4: 'even'}

#Mini Project: Student Gradebook System
 Goal:

Create a small program that:

Takes student names and marks

Stores them in a dictionary

Calculates total, average, grade, and class performance

Uses lists, tuples, sets, and conditions

is program allow  to enter multiple students, record their marks in 3 subjects, calculate totals, averages, grades, and display class-level analysis (highest, lowest, unique marks, etc.).

🧱 Concepts Used

✅ Variables

✅ Loops (for, while)

✅ Conditional statements (if, elif, else)

✅ Lists (store marks)

✅ Tuples (fixed subject list)

✅ Sets (unique marks)

✅ Dictionaries (store student data)

✅ String formatting

In [ ]:
# 🎓 Student Gradebook System

print("=== Student Gradebook System ===")

subjects = ("Math", "Science", "English")   # tuple for fixed subjects
gradebook = {}  # dictionary: student_name -> list of marks

num_students = int(input("Enter number of students: "))

# Step 1: Input student data
for i in range(num_students):
    name = input(f"\nEnter name of student {i+1}: ").capitalize()
    marks = []  # list for marks

    for subject in subjects:
        mark = int(input(f"Enter marks in {subject}: "))
        marks.append(mark)

    gradebook[name] = marks  # store in dictionary

# Step 2: Display summary
print("\n=== 🧾 Student Summary ===")
for name, marks in gradebook.items():
    total = sum(marks)
    avg = total / len(subjects)

    # assign grade
    if avg >= 85:
        grade = "A"
    elif avg >= 70:
        grade = "B"
    elif avg >= 60:
        grade = "C"
    else:
        grade = "Fail"

    print(f"\n{name}")
    print(f"Marks: {marks}")
    print(f"Total: {total}, Average: {avg:.2f}, Grade: {grade}")

# Step 3: Class-level summary using sets
all_marks = [mark for marks in gradebook.values() for mark in marks]
unique_marks = set(all_marks)
highest = max(all_marks)
lowest = min(all_marks)

print("\n=== 📊 Class Summary ===")
print(f"All Marks: {all_marks}")
print(f"Unique Marks: {unique_marks}")
print(f"Highest Mark: {highest}")
print(f"Lowest Mark: {lowest}")

=== Student Gradebook System ===
Enter number of students: 2

Enter name of student 1: ali
Enter marks in Math: 33
Enter marks in Science: 43
Enter marks in English: 56

Enter name of student 2: haris
Enter marks in Math: 45
Enter marks in Science: 67
Enter marks in English: 67

=== 🧾 Student Summary ===

Ali
Marks: [33, 43, 56]
Total: 132, Average: 44.00, Grade: Fail

Haris
Marks: [45, 67, 67]
Total: 179, Average: 59.67, Grade: Fail

=== 📊 Class Summary ===
All Marks: [33, 43, 56, 45, 67, 67]
Unique Marks: {33, 67, 43, 45, 56}
Highest Mark: 67
Lowest Mark: 33

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
thistuple = ("apple", "mango")
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3