<a href="https://colab.research.google.com/github/jaweria01/Python_Volunteer_Course/blob/main/Session11_(Tuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Plan of attack**

What is tuple?

Characteristics

Creating a Tuple

Accessing items

Editing items

Adding items

Deleting items

Operations on Tuples

Tuple Functions

# **Tuples**
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

***Characterstics***

Ordered

Unchangeble

Allows duplicate

**1.Ordered:**

In [ ]:
t1 = ('1', '2', '3')
print(t[0])  # first element
print(t[1])  # second element
print(t[2])  # third element

1
2
3

In [ ]:
t2 = ('3', '2', '1')
print(t2[0])  # first element
print(t2[1])  # second element
print(t2[2])  # third element

t2

3
2
1

('3', '2', '1')

#### **Unchangeable**

In [ ]:
t = (10, 20, 30)
# Trying to change a value:
# t[1] = 99   ‚ùå This gives an error

### **Duplicate**

In [ ]:
t = ('cat', 'dog', 'cat', 'bird')
print(t)

## üß© **Tuple vs List in Python**
### üü© 1Ô∏è‚É£ **List ‚Äì Mutable (Changeable)**

A list allows you to modify, add, or remove elements after creation.

In [ ]:
# Example: List
fruits = ["apple", "banana", "cherry"]
print(fruits)         # ['apple', 'banana', 'cherry']

# You can change elements
fruits[1] = "mango"
print(fruits)         # ['apple', 'mango', 'cherry']

# You can add elements
fruits.append("orange")
print(fruits)         # ['apple', 'mango', 'cherry', 'orange']

# You can remove elements
fruits.remove("apple")
print(fruits)         # ['mango', 'cherry', 'orange']

['apple', 'banana', 'cherry']
['apple', 'mango', 'cherry']
['apple', 'mango', 'cherry', 'orange']
['mango', 'cherry', 'orange']

Lists are mutable ‚Üí meaning you can edit them anytime.

### üü™ 2Ô∏è‚É£**Tuple ‚Äì Immutable (Unchangeable)**

A tuple looks like a list but uses parentheses () instead of square brackets [].
Once created, you cannot modify a tuple ‚Äî not even one element.

In [ ]:
# Example: Tuple
fruits = ("apple", "banana", "cherry")
print(fruits)          # ('apple', 'banana', 'cherry')

# Trying to change a value
fruits[1] = "mango"    # ‚ùå Error: TypeError: 'tuple' object does not support item assignment

('apple', 'banana', 'cherry')

TypeError: 'tuple' object does not support item assignment

Tuples are immutable ‚Üí you cannot add, remove, or update elements

### **Creating a Tuple**

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item ", " a comma is necessary for single item tuple
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple with in a tuple just like 2 D list
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### **Accessing Items**
Indexing

Slicing

### **Indexing**

In [ ]:
a = (1,2,3,4)
print(a)
# +ve indexing
print(a[0])
# -ve indexing
print(a[-1])

(1, 2, 3, 4)
1
4

### **Slicing**

In [ ]:
# Slicing
# +ve slicing
b = (1,2,3,4,5)
b[0:3:2]

(1, 3)

In [ ]:
# In +ve slicing , left always small except , when we want to -ve step or reverse the numbers
b = (1,2,3,4,5)
b[3:0:1]

()

In [ ]:
b = (1,2,3,4,5)
b[0:3:1]

(1, 2, 3)

In [ ]:
b = (1,2,3,4,5)
b[3:0:-1]

(4, 3, 2)

In [ ]:
# ************In +ve slicing we can not put -ve step when left is small ************************
b = (1,2,3,4,5)
b[0:3:-2]

()

In [ ]:
b = (1,2,3,4,5)
b[0:3:-1]

()

In [ ]:
b = (1,2,3,4,5)
b[3:0:-1]

(4, 3, 2)

In [ ]:
b = (1,2,3,4,5)
b[3:0:1]

()

In [ ]:
b = (1,2,3,4,5)
b[:2]

(1, 2)

In [ ]:
b = (1,2,3,4,5)
b[2]

3

In [ ]:
b = (1,2,3,4,5)
b[0:5:1]

(1, 2, 3, 4, 5)

In [ ]:
# I want to print 2 and 4 by +ve slicing

b = (1,2,3,4,5)
b[1:5:2]

(2, 4)

In [ ]:
# -ve slicing
# I want to print 2 and 4 by -ve slicing
b = (1,2,3,4,5)
b[4:1:1]

()

In [ ]:
b = (1,2,3,4,5)
b[-3:-1]

In [ ]:
# To reverse
b = (1,2,3,4,5)
b[::-1]

(5, 4, 3, 2, 1)

In [ ]:
# at left always should be greater, if you want reverse in -ve
b = (1,2,3,4,5)
b[-1:-4:-1]

(5, 4, 3)

In [ ]:
b = (1,2,3,4,5)
b[-3::-1]

(3, 2, 1)

In [ ]:
# *************** in -ve Indexing left should be greater always *****************
b = (1,2,3,4,5)
b[-5:-3:-1]

()

In [ ]:
b = (1,2,3,4,5)
b[-3:-5:-1]

(3, 2)

In [ ]:
b = (1,2,3,4,5)
b[-3:-5:1]

()

In [ ]:
# ****** we just put +ve step in negative indexing , when left is less ******
b = (1,2,3,4,5)
b[-5:-3:1]

(1, 2)

In [ ]:
# Extracting item from 2D tuple
t = (1,2,3,4,(5,6))
t[-1][0]

5

## **Editing items**

## **Adding items**

In [ ]:
#want to add 100 at 0 index
ttt = (1,2,3,4)
ttt[0] = 100
print(ttt)

# immutable just like strings

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(t3)
# not possible
t =

## **Deleting Items**

In [ ]:
t = (1,2,3)
print(t)
#del t
#print(t3)
t.remove(1)
print(t)

(1, 2, 3)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
fruits = ('apple', 'banana', 'cherry', 'banana')
fruits.remove('banana')
print(fruits)

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
fruits = ('apple', 'banana', 'cherry', 'banana')
fruits.remove('banana')
print(fruits)

AttributeError: 'tuple' object has no attribute 'remove'

## **Operations on Tuples**

In [ ]:
# Operator
# Membership
# Loops /iteration

In [ ]:
# Operator
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t1 + t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

t1 * 2

(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# Membership
t = (1,2,3)
print(1 in t)
4 in t

True

False

In [ ]:
# Loop
t = (1,2,3,4,5,5,6,6,8,9)
for i in t:
  print(i)

1
2
3
4
5
5
6
6
8
9

## **Tuple Functions**

In [ ]:
# # len/sum/min/max/sorted
# len(t)
# sum(t)
# min(t)
# max(t)
# sorted
# count

In [ ]:
t = (1,2,3,4)
len(t)

4

In [ ]:
t = (1,2,3,4)
sum(t)

10

In [ ]:
t = (1,2,3)
min(t)

1

In [ ]:
t = (1,2,3)
max(t)

3

In [ ]:
# Result always in list
t = (15,11,12,13,10)
sorted(t,reverse=True)
sorted(t)

[10, 11, 12, 13, 15]

In [ ]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [ ]:
t = (1,2,2,4,5)

t.count(2)

2

In [ ]:
# index
t = (1,2,3,4,5)
#t.index(50)
t.index(8)

ValueError: tuple.index(x): x not in tuple

## **Difference between Lists and Tuples**

Syntax

Mutability

Speed

Memory

Built in functionality

Error prone

Usability

In [ ]:
# syntax of both are different from each other: (tuple) [list]
# List are mutable but tuple are not
# Speed of tuple are more. they are faster
# Tuples take less space in memory
# List has more functions as compared to tuple
# Lists are more error prone due to mutability
# In applications where user did nt do any changes then you will use tuple, whereas where user will do more changes then you will use list like to do list

### **tuples are faster**

In [ ]:
# tuples are faster
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)
start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 11.479144811630249
Tuple time 9.540014743804932

### **tuple take less memory**

In [ ]:
# tuple take less memory
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

### **List have more chances of error due to mutability**

#### List have more chances of error due to mutability

In [ ]:
# List have more chances of error due to mutability
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

#### **tuples are not error prone due to immutable**

In [ ]:

# tuple have no method of apppend
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## **Tuple Unpacking**

In [ ]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

In [ ]:
# a,b = (1,2,3)
# print(a,b)

In [ ]:
# Values swapping
# no need of third variable
a = 1
b = 2
a,b = b,a

print(a,b)

In [ ]:
# Tupple unpacking
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

## **Zip Tupple**

In [ ]:
Zip :
# Zip function operate on two iterables item by item

In [ ]:
a = (1,2,3,4)
b = (5,6,7,8)
# make a zip object
zip(a,b)

In [ ]:
# To see the zip object , convert it into list or tuple
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
# tuple of tuples? 2D tuple
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [ ]:
# list tuples
a = (1,2,3,4)
b = (5,6,7,8)
# you will get  list of tuple
list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

## ***Tuple Comprehension***

In [ ]:
# just like in list

(i for i in range(0,10))

In [ ]:
#
t = (1,2,3,4,56,9)
tc = (i for i in t)
print(tc)

<generator object <genexpr> at 0x78ee68c06110>

In [ ]:
# **************** all read operations can be tuples ************************
# ************** all write operations can be possible in list **********************