<a href="https://colab.research.google.com/github/jaweria01/Python_Volunteer_Course/blob/main/Session10_(List_Revision).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **List Revision**

### **Enumerate**

In [ ]:
num=[12,16,"ali",34,87]
print(enumerate(num))                         ##  will give the adress of the list
print(list(enumerate(num)))                   ## will generate a list in ordered pair first is for index and second for value
print(type(enumerate(num)))                   ## will give the data type

<enumerate object at 0x7e765f099ad0>
[(0, 12), (1, 16), (2, 'ali'), (3, 34), (4, 87)]
<class 'enumerate'>

In [ ]:
num=[12,16,"ali",34,87]
new=list(enumerate(num))
print(new)
print(type(new))
print(type(new[1]))                           ###  In enumerate data type is list and elements in list behave as tuple

[(0, 12), (1, 16), (2, 'ali'), (3, 34), (4, 87)]
<class 'list'>
<class 'tuple'>

# Iterable

In [ ]:
##list(iterabel)##
Fruit="Apple"
print(list(Fruit))               ### length of string is same as the length of the output.
                                 ### it makes the element to every character.
                                 ### it is applicable on string not on integer

['A', 'p', 'p', 'l', 'e']

# Append

In [ ]:
l1=[12,16,"ali",34,87]
print(l1)
print(len(l1))
l1.append(90)
print(l1)      ### append  update the list and it will always create new element at the last of the list
                        ### it will not create a new list. we can not generate a new variable to append it give answer
                        ### none because it update the origional list not create a new list

[12, 16, 'ali', 34, 87]
5
[12, 16, 'ali', 34, 87, 90]

In [ ]:
l1=[12,16,"ali",34,87]
print(l1)
print (len(l1))
l1.append([1,2,3,4,5])
print(l1)

[12, 16, 'ali', 34, 87]
5
[12, 16, 'ali', 34, 87, [1, 2, 3, 4, 5]]

In [ ]:
l1=[12,16,"ali",34,87]
l2=[23,24,25,78,98]          ### this new list basically store on the only one element
l1.append(l2)
print(l1)
print(len(l1))

[12, 16, 'ali', 34, 87, [23, 24, 25, 78, 98]]
6

# Extend

In [ ]:

#### extend function
l1=[12,16,"ali",34,87]
l2=[23,24,25,78,98]
l1.extend(l2)
print(l1)

[12, 16, 'ali', 34, 87, 23, 24, 25, 78, 98]

# Insert

In [ ]:
### Insert function

l1=[12,16,"ali",34,87]
l2=[23,24,25,78,98]
l1.insert(0,"ali")        ### it store the data ali at the zero index place and update the l1 list
                          ### after applying insert function the elements from right side move one step ahead in output
print(l1)

['ali', 12, 16, 'ali', 34, 87]

# Remove

In [ ]:
### remove function

l1=[12,16,"ali",34,87]
l2=[23,24,25,78,98]
l2.remove(25)
print(l2)                         ## it will remove the element and reduce the length of the list which is in output
                                  ### after removing elements move backward one step. it cannot be stored in a new variable

[23, 24, 78, 98]

#Count

In [ ]:
l1=[12,16,"ali",34,87,34]
l2=[23,24,25,78,98]
print(l1.count(34))

2

# Copy

In [ ]:
l1=[12,16,"ali",34,87,34]
new=l1.copy()                          ## data in l1 and in copy are same just copy like store same data
print(new)

[12, 16, 'ali', 34, 87, 34]