<a href="https://colab.research.google.com/github/jaweria01/Python_Volunteer_Course/blob/main/Session12_(Sets).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Sets**

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

***Characterstics:***

Unordered

Mutable

No Duplicates

Can't contain mutable data types

In [ ]:
# unordered means that 1,2,3 = 3,2,1
# Sets itself are mutable , but they can not take mutable data types like sets inside sets will not work / 2D sets, or list inside sets

In [ ]:
l1 = [1,2,3]
l2 = [3,2,1]
l1== l2

False

In [ ]:
# Creating a set
#{}
numbers1 = {10, 20, 30, 40, 50}
numbers2 = {50,40,30,20,10}
numbers1 == numbers2
print(numbers1 == numbers2)   # âœ… Output: True
print(numbers1)  # Output might be {40, 10, 50, 20, 30}

{50, 20, 40, 10, 30}

### **Creating Sets**

####**Empty sets**

In [ ]:
l = list()
l

[]

In [ ]:
# empty set
# as sets and dictionary both have same syntax like {}, so the default syntax show dic.
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [ ]:
# empty
# To make empty set we use type conversion func.
s = set()
print(s)
print(type(s))

**1D and 2D set**

In [ ]:
# 1D and 2D
s1 = {1,2,3}
print(s1)
#s2 = {1,2,3,{4,5}}
#print(s2)

{1, 2, 3}

**mutable data type are not allowed**

In [ ]:
# mutable data type are not allowed
s1 = {1,2,3, [1,2]}
print(s1)

TypeError: unhashable type: 'list'

**Immutable are allowed**

In [ ]:
# Immutable are allowed
s1 = {1,2,3, (1,2)}
print(s1)

{3, 1, 2, (1, 2)}

In [ ]:
s1 = {1,2,3, "Ali"}
print(s1)

**Homo**

In [ ]:
# Homo
# all items are of same data types
s1 = {1,2,3,4,5,67}
print(s1)

{1, 2, 3, 4, 5, 67}

**hetro**

In [ ]:
# hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)

{1, 'hello', (1, 2, 3), 4.5}

**duplicates not allowed**

In [ ]:
# duplicates not allowed
s = {1,1,2,2,3,3}
print(s)

# 1 and True are duplicates
s1 = {True,1, 5, 2.37, 'jawi'}
print(s1)

# output are out of order because sets do not consider order,
# In fact a hashing algorithm works in beind the deciding of items positions> hashing controll the index positions

{1, 2, 3}
{True, 2.37, 'jawi', 5}

**Type Conversion**

In [ ]:
#
# using type conversion
# convet list into sets
set()
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

#### **unordered**

In [ ]:
# # s1 = {1,2,3, [1,2]}
# print(s1)
# if both sets have same content
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

## **Assesing Items**

In [ ]:
# can not assec items due to unordered syntax following
s1 = {1,2,3,4}
s1[3]

TypeError: 'set' object is not subscriptable

## **Editing Items**

In [ ]:
# editing item also not work in sets
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

## **Adding Items**

In [ ]:
# add
# Add() can only add  item

S = {1,2,3,4}
S.add(6)
print(S)

{1, 2, 3, 4, 6}

In [ ]:
# update
# update() can add multiple items
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7}

## **Deleting Items**

In [ ]:
# del
# delete entire set
s = {1,2,3,4,5}
print(s)
del s
#print(s)

{1, 2, 3, 4, 5}

**discord()--> for value deletion**

if specific item is not present, then it will not throw any error and will print the rest items of set

In [ ]:
# discard...> delete spesific item
s = {2,3,7,50}
s.discard(7)
print(s)

# if specific item is not present, then it will not throw any error and will print the rest items of set
s.discard(60)
print(s)

{2, 3, 50}
{2, 3, 50}

**remove()--> also delete specific element**

if specific item is not present, then it will  throw any error and will print the rest items of set

In [ ]:
# Remove......> also delete spesific item
# s = {2,3,4,5,50, 60}
# s.remove(50)
# print(s)

# if specific item is not present, then it will  throw any error and will print the rest items of set

s = {2,3,4,5,50, 60}
s.remove(70)
print(s)

KeyError: 70

**pop()-->randomly delete item**

In [ ]:
# Pop() ......> randomly delete item

s = {1,2,3, 9 ,10, 4,8, 5}
s.pop([0])
print(s)

TypeError: set.pop() takes no arguments (1 given)

**clear().......> will empty the entire set**

In [ ]:
# clear().......> will empty the entire set ,
s = {100,200,300,4000}
s.clear()
print(s)

set()

In [ ]:
#************* sets can be used in comarison of population mean ,by union or another mathod ************

## **Set Operation**

**Union _ |** --> print unique items of both sets

In [ ]:
# Union(|)
# print unique items of both sets
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

**Intersation** -->
print common items of both sets

In [ ]:
# Intersation
# print common items of both sets
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 & s2

{4, 5}

**Difference(-)** -->
print items of s1 which are not present in s2

In [ ]:
# Difference(-)
# print items of s1 which are not present in s2
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 - s2

{1, 2, 3}

**Symmetric Difference(^)** -->print all except common

In [ ]:
# Symmetric Difference(^)
# print all except common, in union all items will be print and which are common will be print once thats the difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Above 4 operations are basics

In [ ]:
# Membership Test
s1 = {1,2,3,4,5}
2 in s1

True

In [ ]:
# Iteration/loops
s1 = {10,20,30,40,50}
for i in s1:
  print(i)

50
20
40
10
30

## **Sets Functions**

In [ ]:
# len/sum/min/max/sorted
# union()
# intersaction()
# difference()
# symmetric_difference()
# update()...>union update
# intersation_update()
# difference_update()
# symmetric_difference_update()
# isdisjoint()
#issubset()
# issuperset()

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

**union**

In [ ]:
# union func |
a1 = {1,2,3,4,5}
a2 = {4,5,6,7,8}
print(a1.union(a2))

print(a1)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}
C = "Hello"   # A list, not a set

print(A.union(B, C))  # Output: {1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4, 5, 'o', 'H', 'l', 'e'}

**update**

Adds elements from another set (or iterable) into the current set.

ðŸ‘‰ It modifies the original set (doesnâ€™t return a new one).

In [ ]:
#union update func.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

print(s1)

s1.update(s2)

print(s1)
print(s2)
# firstlt, union operation will run inside the update func, which is invisible
# firstly , we print s1, the result of union operation will put in s1, and s2 will remain same as it is., a permanent change will be in s1
# then we print s2 that was earlier

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

**intersection**

Returns a new set with elements common to all given sets.

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6}
A&B

{3, 4, 5}

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6}
C = {4, 5, 7}

result = A.intersection(B, C)
print(A)
#print(A)
print(result)   # Output: {4, 5}
print(A)

{1, 2, 3, 4, 5}
{4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# intersection
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

{4, 5}

**intersection_update() â€” Common Elements + Assign**

Keeps only common elements in the original set (no new set created).

ðŸ‘‰ It modifies the original set directly.

In [ ]:
#intersection_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# the result of intersaction will store in s1 and s2 will be remain same

print(s1)
print(s2)
update = s1.intersection_update(s2)
update
print(update)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6}
C = {4, 5, 7}

A.intersection_update(B, C)
print(A)   # Output: {4, 5}

{4, 5}

**difference() â€” Elements in A not in B**

Returns elements that are in the first set but not in others.

ðŸ‘‰ Creates a new set.

In [ ]:
# difference
## print items of s1 which are not present in s2
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s2.difference(s1)

{6, 7, 8}

In [ ]:
A = {1, 2, 3, 4, 5, 6}
B = {3, 4, 7}
C = {4, 5, 8}

result = A.difference(B, C)
print(result)
   # Output: {1, 2, 6}
print(A)

{1, 2, 6}
{1, 2, 3, 4, 5, 6}

**difference_update() â€” Difference + Assign**

Removes all elements found in other sets from the original set.

ðŸ‘‰ It modifies the original set.

In [ ]:
#/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

var = s1.difference(s2)
print(var)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
A = {1, 2, 3, 4, 5, 6}
B = {3, 4, 7}
C = {4, 5, 8}

A.difference_update(B, C)
print(A)   # Output: {1, 2, 6}
#Same as .difference(), but updates A itself.

{1, 2, 6}

**symmetric_difference() â€” Non-common Elements**

Returns elements that are in either set, but not in both.

ðŸ‘‰ Creates a new set.

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference(s2)

{1, 2, 3}

In [ ]:
# symmetric_difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7}
C = {7, 8}

result = A.symmetric_difference(B)
print(result)   # Output: {1, 2, 3, 6, 7}

**symmetric_difference_update() â€” Non-common + Assign**

Keeps elements that are unique to either set, and updates the original set.

In [ ]:
# symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# s1 contain all except common in both
s1.symmetric_difference_update(s2)
print(s2)
print(s1)

{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
# disjoint sets are those which have no common items
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [ ]:
# issubset()
# subset()
# a set inside another set. s1 inside s2 set
s1 = {1,2,3,4,5}
s2 = {3,4,5}
# s2 is subset of s2
s2.issubset(s1)

True

In [ ]:
# issuperser()
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [ ]:
# Both have different memory address
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

## **Frozenset**

Frozen set is just an immutable version of a Python set object

No item will be added and no can be deleted

In [ ]:
# create frozenset
# inside frozen set , can be any iterable like tuple , list, set
fs1 = frozenset([1,2,3])
print(fs1)

frozenset({1, 2, 3})

In [ ]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations like add and update function will not work which work in sets()

In [ ]:
# When to use >> when you make an application where no changes are required. then you will use frozensets() otherwise you use sets
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [ ]:
fs = frozenset([1,2,frozenset((3,4))])
fs

frozenset({1, 2, frozenset({3, 4})})

#### **Why 2D allowed in Frozensets() and not in sets()?????**

### **Set Comprehension**

In [ ]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

In [ ]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}