<a href="https://colab.research.google.com/github/jaweria01/Python_Volunteer_Course/blob/main/Session8_(Loops).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Looping Control**

Loops in Python are used to repeat actions efficiently. The main types are For loops (counting through items)
and While loops (based on conditions).

## **for Loop**

For loops is used to iterate over a sequence such as list, tuple, string or range.

 It allow to execute a block of code repeatedly, once for each item in the sequence.

In [ ]:
fruits = ["apple", "banana", "mango"]
for fruit in fruits:
    print(fruit)

## **While Loop**

While Loop
The while loop repeatedly executes a block of code as long as a given condition remains
True. It checks the condition before each iteration.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

## **Combining loop + conditions**

else Statement: An else clause can be added to loops. It executes after the loop
finishes normally (i.e., not terminated by break). Example:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [ ]:
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

## **Iterating Over List, Tuple, String and Dictionary Using for Loops**

In [ ]:
li = ["geeks", "for", "geeks"]
for x in li:
    print(x)

geeks
for
geeks

In [ ]:
tup = ("geeks", "for", "geeks")
for x in tup:
    print(x)

geeks
for
geeks

In [ ]:
s = "abc"
for x in s:
    print(x)

a
b
c

In [ ]:
d = dict({'x':123, 'y':354})
for x in d:
    print("%s  %d" % (x, d[x]))

In [ ]:
set1 = {10, 30, 20}
for x in set1:
    print(x),

In [ ]:
li = ["ali", "anam", "sara"]
for index in range(len(li)):
    print(li[index])

ali
anam
sara

## **Nested Loops**

When you place one loop inside another;

```
i=0, j=0
i=0, j=1
i=1, j=0
```

In [ ]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

##  **Jump control (break, continue, pass)**

### **break**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

### continue

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### **Pass**

In [ ]:
for in in range(6):
    pass

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 5):
  print(x)

2
7
12
17
22
27

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = (1, 2, 3)
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

1 apple
1 banana
1 cherry
2 apple
2 banana
2 cherry
3 apple
3 banana
3 cherry

In [ ]:
for x in [0, 1, 2]:

SyntaxError: incomplete input (ipython-input-2097983358.py, line 2)